<!DOCTYPE html>
<html lang="pt-br">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    <title>{% block title %}Iridium{% endblock %}</title>
  
</head>
<body>


{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Iridium</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-item nav-link" href="{{ url_for('cadastros') }}"> Cadastros</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="{{ url_for('manutencoes') }}">Manutenções</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="{{ url_for('relatorios') }}">Relatórios</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Sair</a>
        </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>